
:root {
--bg:rgb(26, 26, 26);
--fg:rgb(9, 255, 0);
}

body{
    margin:0px;
    background-color: var(--bg);
    font-family:'Courier New', Courier, monospace;
    color: var(--fg);
}
html {
overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
pre{
    margin: 10px 10px;
    font-size:13px;
}
.blink{
    animation : blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%  {color:var(--fg)}
    49% {color:var(--fg)}
    60% {color: transparent;}
    99% {color:transparent;}
    100%{color:var(--fg)}
}
header{
    border-bottom: 2px solid var(--fg);
    position: sticky;
    background-color: var(--bg);
}
p{
    padding: 0 10px;
    width: 100px;
    float:left
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
#theme{
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
}
#themes{
    float:right;
    padding: 15px 20px;
}
.hide{
    background-color: var(--fg);
    margin: 10px;
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    float: right;
}
.access{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:var(--bg);
    width:50%;
    border: 3px var(--fg) solid;
}
.access h1{
    text-align: center;
    padding: 0px 20px;
}
.tooltip:hover::after{
    content: "~ for Access Granted ! for Access Denied" ;
    position: absolute ;
    top: 7px ;
    left: 120px;
    min-width: 200px ;
    border: 1px var(--fg) dotted ;
    padding: 8px ;
    color: var(--fg) ;
    background-color: var(--bg);
    z-index: 1 ;
}